@page "/"
@using System.Collections.Generic


<h1>Loja de Jogos</h1>

<div>
    <h2><a href="/jogos">Jogos</a></h2>
    <h2><a href="/consolas">Consolas</a></h2>
    <h2><a href="/acessorios">Acessórios</a></h2>
    <h2><a href="/giftcards">Gift Cards</a></h2>
</div>

@code
{
    List<GamePoint.Gamepoint>
}