@page "/products/{Id:int}"
@using GamePoint.WebAPI.Models
@rendermode InteractiveServer

@inject IWebApi WebApi

<h3>Product Detail</h3>

<p>@_productDetail.Description</p>

@code {
    [Parameter]
    public int Id { get; set; }

    private ProductModel _productDetail { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        _productDetail = await WebApi.GetProduct(Id);
    }

}
