@page "/products/{Id:int}"
@using GamePoint.WebAPI.Models
@inject IDummyJsonApi DummyJsonApi

<h3>Product Detail</h3>

<p>@_productDetail.Description</p>

@code {
    private Product _productDetail = new();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _productDetail = await DummyJsonApi.GetProduct(Id);
    }

}
