@page "/products/{Id:int}"
@using GamePoint.WebAPI.Models
@rendermode InteractiveServer

@inject IWebApi WebApi

<h3>Product Detail</h3>

<EditForm FormName="UpdateTaskForm" Model="@productModel" OnValidSubmit="SaveProduct">
    <InputText @bind-Value=productModel.Name />
    <InputText @bind-Value=productModel.Description />
    <button type="submit">Save</button>
</EditForm>


@code {

    [Parameter]
    public int Id { get; set; }

    private ProductModel productModel { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        productModel = await WebApi.GetProduct(Id);
    }

    private async void SaveProduct()
    {
        var result = await WebApi.UpdateProduct(productModel);

    }
}